<div id="coinkite-banner" style="height: 35px; background-color: black; position: fixed; top: 0; left: 0; right: 0; z-index: 5;"></div>
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <a href="/"><img src="/assets/images/cards-logo.svg" alt="" />Bitcoin Cards</a>
                </div>
                <button type="button" class="btn menu-toggle">
                    <span></span>
                </button>
                <div class="separator"></div>
                <nav>
                    <ul>
                        <li><a href="https://sats-card.com">SATSCARD</a></li>
                        <li><a href="https://tapsigner.com">TAPSIGNER</a></li>
                        <li><a href="https://satschip.com">SATSCHIP</a></li>
                        <li><a href="/sdk">Developers &amp; SDK</a></li>
                        <li><a href="/partners">Partners</a></li>
                        <li><a href="https://coinkite.com/contact">Contact</a></li>
                    </ul>
                    <div class="buttons">
                        <a href="/art" class="btn submit-art">
                            <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Fill" fill="#000000" points="6.75 5.25 6.75 0 5.25 0 5.25 5.25 0 5.25 0 6.75 5.25 6.75 5.25 12 6.75 12 6.75 6.75 12 6.75 12 5.25"></polygon>
                                </g>
                            </svg>
                            Submit Your&nbsp;Art
                        </a>
                        <a href="https://store.coinkite.com" class="btn btn-store">
                            <i class="fa fa-cart-plus"></i>
                            Store
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
